# Ignore vim setup specific files
/.config/nvim/autoload
/.config/nvim/plugged
/.config/nvim/swp
/.config/nvim/sessions
/.config/nvim/.*

/.config/coc/*
!/.config/coc/extensions
/.config/coc/extensions/*
!/.config/coc/extensions/package.json

# Ignore tmux setup specific files
/.tmux/plugins

/flatpak/
!/flatpak/.local/share/flatpak/overrides

