#!/bin/sh
# X11 environment

# SDL Options
# Use pulse audio for SDL audio
export SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS=0
export SDL_AUDIODRIVER=pulse

# Hardware Accel
#
# For AMD
export LIBVA_DRIVER_NAME=radeonsi

# Use S3TC texture compression
export force_s3tc_enable=true

# Help with Pulse audio crackling in some programs
export PULSE_LATENCY_MSEC=60

if command -v qt5ct > /dev/null 2>&1; then
  export QT_QPA_PLATFORMTHEME=qt5ct
fi

if command -v kvantummanager > /dev/null 2>&1; then
  export QT_STYLE_OVERRIDE=kvantum
fi

# X11 support for Gnome and GTK
export XDG_SESSION_TYPE=x11
export GDK_BACKEND=x11

# shellcheck disable=SC1091
[ -f "${HOME}"/.bash_profile ] && . "${HOME}"/.bash_profile
