[Unit]
Description=Start Sunshine on session login

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/.local/bin/restart-sunshine

[Install]
WantedBy=graphical-session.target
