# Run a container as a user
[Unit]
Description=On %u login, start container %i
After=network-online.target syslog.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target

[Service]
# Check the file exists, do not attempt to start otherwise
ExecStartPre=/bin/test -x %h/.containers/bin/%i

# Check the network is online before starting (wait up to 30 seconds)
ExecStartPre=/bin/sh -c '[ -x /usr/local/bin/im-online ] && /usr/local/bin/im-online --dns'

# Teardown before starting, if this 'fails' because nothing else is running, we don't mind
ExecStartPre=-/usr/local/bin/container-teardown %i

ExecStart=%h/.containers/bin/%i
ExecStop=/usr/local/bin/container-teardown %i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
