# Run a container as a user
[Unit]
Description=On %u login, start container %i
After=network-online.target syslog.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target

[Service]
# Check the file exists, do not attempt to start otherwise
ExecStartPre=/bin/test -x %h/.containers/bin/%i
# Shutdown running container
ExecStartPre=-/usr/local/bin/container-teardown %i
ExecStart=%h/.containers/bin/%i
ExecStop=/usr/local/bin/container-teardown %i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
