# Run a container as a user
[Unit]
Description=On %u login, start container %i
After=network-online.target syslog.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target

[Service]
ExecStartPre=-/usr/local/bin/container-teardown %i --delay
ExecStart=%h/.containers/bin/%i
ExecStop=/usr/local/bin/container-teardown %i

[Install]
WantedBy=default.target
