[Unit]
Description=On %u login, start container %i

[Service]
ExecStart=/bin/sh -c 'podman stop %i; podman rm %i; %h/.containers/bin/%i'
ExecStop=/bin/sh -c 'podman stop %i && podman rm %i'

[Install]
WantedBy=default.target
