[Unit]
Description=Freegames check for %i (must be already configured with first-run)

[Timer]
OnCalendar=0/4:00:00
Unit=freegames@%i.service

[Install]
WantedBy=timers.target
