[Unit]
Description=Healthcheck ping on boot and on interval %i

[Timer]
OnBootSec=10
OnUnitActiveSec=120
Unit=healthcheck@%i.service

[Install]
WantedBy=timers.target
