[Unit]
Description=On %u login, run startup script

[Service]
ExecStart=/bin/sh -c '%h/.config/Linux/startup'

[Install]
WantedBy=graphical-session.target
