[Unit]
Description=Crowdsec container
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/bin/sh -c '_c="crowdsec"; podman stop "$${_c}"; podman rm "$${_c}"; /usr/local/bin/"$${_c}"'
ExecStop=/bin/sh -c '_c="crowdsec"; podman stop "$${_c}"; podman rm "$${_c}"; exit 0'
ExecReload=/bin/sh -c '_c="crowdsec"; podman exec -i -t "$${_c}" /bin/sh -c "kill -HUP 1"'

[Install]
WantedBy=multi-user.target
