# Runs the caddy container when the target user logs in
#
# Should be enabled as `systemctl enable caddy@UID.service`
# where UID is the UID of the target user you want to run the container
#
# Generally this is 1000 for "your user"

[Unit]
[Unit]
Description=Container: Caddy for %i
After=network-online.target docker.service tailscaled.service mullvad-vpn.service firewalld.service podman.service user@%i.service
Wants=network-online.target
Requires=user@%i.service
RequiresMountsFor=/run/user/%i/containers

[Service]
ExecStartPre=-/bin/sh -c '_c="caddy"; _u="$$(id -un "%i")"; sudo -u "$${_u}" container-teardown $${_c}"'
ExecStart=/bin/sh -c '_c="caddy"; /usr/local/bin/"$${_c}" "%i"'
ExecStop=/bin/sh -c '_c="caddy"; _u="$$(id -un "%i")"; sudo -u "$${_u}" container-teardown $${_c}"'

[Install]
WantedBy=user@%i.service
