# Ignore vim setup specific files
/automatic/.config/nvim/autoload
/automatic/.config/nvim/plugged
/automatic/.config/nvim/swp
/automatic/.config/nvim/sessions
/automatic/.config/nvim/.*

/automatic/.config/coc/*
!/automatic/.config/coc/extensions
/automatic/.config/coc/extensions/*
!/automatic/.config/coc/extensions/package.json

# Ignore tmux setup specific files
/automatic/.tmux/plugins

/automatic/flatpak/
!/automatic/flatpak/.local/share/flatpak/overrides
