#!/bin/sh
# Environment variables

# IBUS setup
# export GTK_IM_MODULE=ibus
# export XMODIFIERS=@im=ibus
# export QT_IM_MODULE=ibus

# SDL Options
# Use pulse audio for SDL audio
export SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS=0
export SDL_AUDIODRIVER=pulse

# Hardware Accel
#
# For Intel/Nvidia
# export VDPAU_DRIVER=va_gl
#
# For AMD
export LIBVA_DRIVER_NAME=radeonsi

# Use S3TC texture compression
export force_s3tc_enable=true

# Fix QT to use GTK theme
export QT_QPA_PLATFORMTHEME=gtk2
export QT_STYLE_OVERRIDE=gtk

export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=lcd -Dswing.aatext=true"

# Other
# Disable the terminal bell noise
xset -b

# Clean source xrdb config
if [ -f "${HOME}"/.Xresources ]; then
  xrdb "${HOME}"/.Xresources
fi

if which xhost; then
  xhost "+si:localuser:$(whoami)"
fi

# shellcheck disable=SC1091
# Source /etc/bash.bashrc if the environment is not setup
if [ -z "${PYAMSOFT_SYSTEM}" ]; then
  [ -f /etc/bash.bashrc ] && . /etc/bash.bashrc
fi
# shellcheck disable=SC1090
# Source bash_profile if the environment is not setup
if [ -z "${PYAMSOFT_ENVIRONMENT}" ]; then
  [ -f "${HOME}"/.bash_profile ] && . "${HOME}"/.bash_profile
fi

# Bind DE agnostic keybinds
xbindkeys

# Turn on compositing
toggle_compositing on
