[Unit]
Description=Container: Cloudflare DDNS for %i
After=network-online.target docker.service tailscaled.service mullvad-vpn.service firewalld.service podman.service user@%i.service
Wants=network-online.target
Requires=user@%i.service
RequiresMountsFor=/run/user/%i/containers

[Service]
ExecStartPre=-/bin/sh -c 'sleep 2; _c="ddns"; _u="$$(id -un "%i")"; sudo -u "$${_u}" container-teardown "$${_c}"'
ExecStart=/bin/sh -c '_c="ddns"; /usr/local/bin/"$${_c}" "%i"'
ExecStop=/bin/sh -c '_c="ddns"; _u="$$(id -un "%i")"; sudo -u "$${_u}" container-teardown "$${_c}"'

[Install]
WantedBy=user@%i.service
