# If you enable this service, you should also ensure you
# have installed /etc/polkit-1/rules.d/90-corectrl.rules
# and added your user to the "corectrl" group
[Unit]
Description=Start CoreCtrl on session login

[Service]
# Need to wait just a little or else core-dump because QT not ready
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/corectrl

[Install]
WantedBy=graphical-session.target

