[Unit]
Description=System Container: %i
After=network-online.target docker.service tailscaled.service mullvad-vpn.service firewalld.service
Wants=network-online.target

[Service]
ExecStart=/bin/sh -c 'podman stop %i; podman rm %i; /usr/local/sbin/%i'
ExecStop=/bin/sh -c 'podman stop %i && podman rm %i'

[Install]
WantedBy=multi-user.target
