[Unit]
Description=Caddy container
After=docker.service tailscaled.service mullvad-vpn.service firewalld.service 
Wants=docker.service tailscaled.service mullvad-vpn.service firewalld.service

[Service]
ExecStartPre=/bin/sh -c '_c="caddy"; podman stop -t 5 "$${_c}"; podman rm -f "$${_c}"'
ExecStart=/bin/sh -c '_c="caddy"; /usr/local/bin/"$${_c}"'
ExecStop=/bin/sh -c '_c="caddy"; podman stop -t 5 "$${_c}"; podman rm -f "$${_c}"'
ExecReload=/bin/sh -c '_c="caddy"; podman exec "$${_c}" caddy reload --config /etc/caddy/Caddyfile'

[Install]
WantedBy=network-online.target
