// vi: ft=javascript
// This rule is not needed if Tailscale Magic DNS does not manage your system

// Polkit rules are written in Javascript. LOL. Assume ES5
polkit.addRule(function(action, subject) {
  var isValidGroup = subject.isInGroup("corectrl") || subject.isInGroup("wheel");
  var isValidAction = action.id === "org.corectrl.helper.init" || action.id === "org.corectrl.helperkiller.init";
  var isValidSubject = subject.local && subject.active;
  if (isValidGroup && isValidAction && isValidSubject) {
    return polkit.Result.YES;
  }
});
