# Run a systemd unit when an external USB disk is mounted
#
# Normally, external disks are mounted by udisks2
# but the path can be inconsistent, or user specific
#
# We want automount behavior that is system available, and the ability
# to chain other services off of the mountpoint
#
# Adding our external disk as "nofail" in the fstab stops udisks2 from auto mounting us
#
# So instead, we work around it with this "path activates service which activates mount"


# Need this line in /etc/fstab
#
# /MediaCache (External USB disk)
# LUKS encrypted disk
#UUID=7049f6e7-ac40-4774-9929-2a20bedfd1a8 /mnt/MediaCache  ext4   rw,noatime,discard,nofail,defaults,auto,rw,nosuid,nodev,errors=remount-ro                                      0 2
# LVM mounted disk
#/dev/MediaCache/media_backing             /mnt/MediaCache  ext4   rw,noatime,discard,nofail,defaults,auto,rw,nosuid,nodev,errors=remount-ro                                      0 2

[Unit]
Description=Dependency unit alive while /mnt/MediaCache is mounted
After=mnt-MediaCache.path
Requires=mnt-MediaCache.path

[Service]
# Need to wait a little bit so that the symlinks to places mount correctly
ExecStartPre=/bin/sh -c 'sleep 3 && echo "Run services when /mnt/MediaCache is mounted"'

# Make the mountpoint directory
# Mount the external disk into the mountpoint directory
# Touch the file that signifies the mountpoint is live
# Keep open for ever but don't consume (much) resources
ExecStart=/bin/sh -c 'mkdir -p /mnt/MediaCache && mount -a && touch /mnt/MediaCache/mounted && tail -f /dev/null'

ExecStop=/bin/echo "Stop services when /mnt/MediaCache is unmounted"

