# Run a container as a user
[Unit]
Description=Run Container: %i
After=network.target syslog.target local-fs.target docker.service podman.service

[Service]
# Check the network is up
Environment=PYAM_CHECK_NETWORK=1
# Check the network is up AND that DNS resolves
Environment=PYAM_CHECK_NETWORK_DNS=1
# The path to the container script
Environment=PYAM_CONTAINER=/opt/pyamsoft/sbin/%i

## Generally you should NOT need to change these

# We are in a pyamsoft service
Environment=PYAM_SYSTEMD=1

# Check the file exists, do not attempt to start otherwise
ExecStartPre=/bin/test -x $PYAM_CONTAINER

# Check the network is online before starting (wait up to 30 seconds)
# If the container does NOT need networking, set PYAM_CHECK_NETWORK to 0
# If the container needs networking but does NOT require DNS, set PYAM_CHECK_NETWORK_DNS to 0
ExecStartPre=/bin/sh -c 'if [ -x /opt/pyamsoft/bin/im-online ] && [ -n "${PYAM_CHECK_NETWORK}" ] && [ "${PYAM_CHECK_NETWORK}" -eq 1 ]; then if [ -n "${PYAM_CHECK_NETWORK_DNS}" ] && [ "${PYAM_CHECK_NETWORK_DNS}" -eq 1 ]; then /opt/pyamsoft/bin/im-online --dns; else /opt/pyamsoft/bin/im-online; fi; fi;'

# Teardown before starting, if this 'fails' because nothing else is running, we don't mind
ExecStartPre=-/opt/pyamsoft/bin/container-teardown %i

# Start the container and tear it down after
ExecStart=/bin/sh -c '$PYAM_CONTAINER'
ExecStop=/opt/pyamsoft/bin/container-teardown %i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
