# Mount arbitrary paths as tmpfs
#
# instance syntax expected is <user>:<escaped-path>[:mode]
# Use systemd-escape to escape a file path

[Unit]
Description=tmpfs-mounter: %i
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Service]
ExecStart=/opt/pyamsoft/sbin/systemd-tmpfs-mounter mount %i
ExecStop=/opt/pyamsoft/sbin/systemd-tmpfs-mounter umount %i

# For some reason, we can't kill the tail successfully?
TimeoutStopSec=2

[Install]
WantedBy=basic.target

