[Unit]
Description=Update root.hints for Unbound

[Service]
# Need oneshot or timer wont restart
Type=oneshot

ExecStart=/usr/bin/curl -fsS -o %h/.local/etc/containers/unbound/config/root.hints https://www.internic.net/domain/named.cache

MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
