# HomeAssistant container

[Unit]
Description=Container: Home Assistant
After=network-online.target syslog.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target

[Service]
ExecStartPre=-/usr/local/bin/container-teardown home-assistant
ExecStart=/usr/local/bin/home-assistant
ExecStop=/usr/local/bin/container-teardown home-assistant

[Install]
WantedBy=multi-user.target
