# HomeAssistant container

[Unit]
Description=Container: Home Assistant
After=network-online.target docker.service podman.service
Wants=network-online.target
RequiresMountsFor=%t/containers

[Service]
ExecStartPre=-/bin/sh -c '_c="home-assistant"; podman stop -t 5 "$${_c}"; podman rm -f "$${_c}"'
ExecStart=/bin/sh -c '_c="home-assistant"; /usr/local/bin/"$${_c}"'
ExecStop=/bin/sh -c '_c="home-assistant"; podman stop -t 5 "$${_c}"; podman rm -f "$${_c}"'

[Install]
WantedBy=multi-user.target
