# Run collector on a timer

[Unit]
Description=Container: Scrutiny Collector Metrics Runner
After=network-online.target docker.service podman.service container-scrutiny.service
Wants=network-online.target
Requires=container-scrutiny.service
RequiresMountsFor=%t/containers

[Service]
# Let the Scrutiny service start up
ExecStartPre=/bin/sh -c 'sleep 5'
ExecStart=/bin/sh -c 'podman exec scrutiny /bin/sh -c "scrutiny-collector-metrics run"'
