# Manage Scrutiny in a container

[Unit]
Description=Container: Scrutiny
After=network-online.target syslog.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target

[Service]
ExecStartPre=-/usr/local/bin/container-teardown scrutiny --delay
ExecStart=/usr/local/bin/scrutiny
ExecStop=/usr/local/bin/container-teardown scrutiny

[Install]
WantedBy=multi-user.target
