# Run collector on a timer

[Unit]
Description=Scrutiny Collector Metrics Daily Timer

[Timer]
OnCalendar=hourly
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
