# Run collector on a timer

[Unit]
Description=Scrutiny Collector Metrics
After=network-online.target docker.service podman.service scrutiny.service
Wants=network-online.target
Requires=scrutiny.service
RequiresMountsFor=%t/containers

[Service]
# Let the Scrutiny service start up
ExecStartPre=/bin/sh -c 'sleep 5'
ExecStart=/bin/sh -c 'podman exec scrutiny /bin/sh -c "scrutiny-collector-metrics run"'
