# Dozzle (Hub)

[Unit]
Description=Container: Dozzle (Hub)
After=network-online.target syslog.target local-fs.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target local-fs.target podman.service docker.service

[Service]
# File must exist or fail
ExecStartPre=/bin/test -x /opt/pyamsoft/bin/dozzle

# Teardown before starting, if this 'fails' because nothing else is running, we don't mind
ExecStartPre=-/opt/pyamsoft/bin/container-teardown dozzle-hub

# Run as the hub
Environment=DOZZLE_MODE=hub

# Bind to our system level podman/docker socket
Environment=DOZZLE_BIND_SOCKET=1

ExecStart=/opt/pyamsoft/bin/dozzle
ExecStop=/opt/pyamsoft/bin/container-teardown dozzle-hub
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target

