# Manage TailScale in a container

[Unit]
Description=Container: TailScale
After=network-online.target syslog.target local-fs.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target local-fs.target

[Service]
# File must exist or fail
ExecStartPre=/bin/test -x /opt/pyamsoft/sbin/tailscaled

# Teardown before starting, if this 'fails' because nothing else is running, we don't mind
ExecStartPre=-/opt/pyamsoft/bin/container-teardown tailscale

ExecStart=/opt/pyamsoft/sbin/tailscaled
ExecStop=/opt/pyamsoft/bin/container-teardown tailscale
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target

