[Unit]
Description=Update trusted-keys for Unbound
After=network.target

[Service]
# oneshot so this does not fork and finishes before unbound launches
Type=oneshot
ExecStart=/usr/bin/mkdir -p /etc/unbound/iana.d/
ExecStart=/usr/bin/cp /etc/trusted-key.key /etc/unbound/iana.d/root.key
ExecStart=/usr/sbin/chown %i:%i /etc/unbound/iana.d/root.hints
