# Prepare the /etc/unbound directory
[Unit]
Description=Prepare unbound
Before=network.target unbound.service
After=unbound-trusted-keys.service
Requires=unbound-trusted-keys.service

[Service]
# oneshot so this does not fork and finishes before unbound launches
Type=oneshot
ExecStart=/usr/sbin/chown -R unbound:unbound /etc/unbound/

[Install]
WantedBy=multi-user.target
