[Unit]
Description=Update trusted-keys for unbound
After=network.target

[Service]
ExecStart=/usr/bin/cp /etc/trusted-key.key /etc/unbound/iana.d/trusted-key.key
