# Mount /usr/local/etc/containers/scrutiny/logs into RAM

[Unit]
Description=Temporary Directory /usr/local/etc/containers/scrutiny/logs
ConditionPathIsSymbolicLink=!/usr/local/etc/containers/scrutiny/logs
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=tmpfs
Where=/usr/local/etc/containers/scrutiny/logs
Type=tmpfs
Options=mode=0700,strictatime,nosuid,nodev,noexec,size=10%%

[Install]
WantedBy=basic.target
