[Unit]
Description=Scrutiny Collector Metrics
After=scrutiny.service
Wants=scrutiny.service

[Service]
ExecStart=/bin/sh -c 'podman exec scrutiny /bin/sh -c "scrutiny-collector-metrics run"'
