configuration {
  modi: "run,drun";
  font: "mono 12";
  fixed-num-lines: true;
  show-icons: true;
  terminal: "xfce4-terminal";
  icon-theme: "Papirus";
  disable-history: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "rounded-nord-dark"
