* {
    bg0:    #11111BFA;
    bg1:    #1E1E2E;
    bg2:    #FAB387;
    bg3:    #89B4FA33;
    fg0:    #CDD6F4;
    fg1:    #CDD6F4;
    fg2:    #B4BEFE;
    fg3:    #B4BEFE;
}

@import "rounded-common.rasi"

element selected {
    text-color: @bg2;
}
