* {
    bg0:    #DCE0E8FA;
    bg1:    #EFF1F5;
    bg2:    #FE640B;
    bg3:    #1E66F533;
    fg0:    #4C4F69;
    fg1:    #4C4F69;
    fg2:    #7287FD;
    fg3:    #7287FD;
}

@import "rounded-common.rasi"

element selected {
    text-color: @bg2;
}
