[Unit]
Description=Healthcheck ping @ healthcheck.io %i
After=network.target syslog.target local-fs.target docker.service podman.service

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -s 'https://hc-ping.com/%i'
