# Run a container as a user
[Unit]
Description=On %u login, start container %i
After=network.target syslog.target local-fs.target docker.service podman.service

[Service]
# The path to the container script
Environment=PYAM_CONTAINER=/opt/pyamsoft/bin/%i

## Generally you should NOT need to change these

# We are in a pyamsoft service
Environment=PYAM_SYSTEMD=1

# Check the file exists, do not attempt to start otherwise
ExecStartPre=/bin/test -x $PYAM_CONTAINER

# Teardown before starting, if this 'fails' because nothing else is running, we don't mind
ExecStartPre=-/opt/pyamsoft/bin/container-teardown %i

# Start the container and tear it down after
ExecStart=/bin/sh -c '$PYAM_CONTAINER'
ExecStop=/opt/pyamsoft/bin/container-teardown %i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
