# https://unix.stackexchange.com/questions/258434/how-can-i-have-a-filesystem-mounted-during-user-login
#
# Requires that the mount be specified in /etc/fstab with options
# noauto (do not mount on boot)
# user (allow a normal user to mount the FS)

[Unit]
Description=Automatically mounts %h/%I upon %u login
After=network.target syslog.target

[Service]
Type=oneshot
ExecStart=/bin/mount %h/%I
ExecStop=/bin/umount %h/%I
RemainAfterExit=yes

[Install]
WantedBy=default.target
