server:
  # In the container, unbound lives here
  directory: "/usr/local/unbound"

  # We do not chroot, and the container already drops our permissions off
  chroot: ""
  username: ""

  # Do not run as daemon
  do-daemonize: no

  include-toplevel: "conf.d/*.conf"
  include-toplevel: "rpz.d/*.conf"
  include-toplevel: "zones.d/*.conf"
