# https://0xerr0r.github.io/blocky/latest/configuration

# Upstream DNS over HTTPS
upstreams:
  groups:
    default:
      - "https://cloudflare-dns.com/dns-query"

# Bootstrap DNS over HTTPS
bootstrapDns:
  # Bootstrap Cloudflare from 1.1.1.1
  - upstream: "https://cloudflare-dns.com/dns-query"
    ips:
      - "1.1.1.1"
      - "1.0.0.1"
      - "2606:4700:4700::1111"
      - "2606:4700:4700::1001"

# Group localhost queries
clientLookup:
  clients:
    localhost:
      - "127.0.0.1"

# Blocking
blocking:
  # Return NXDomain
  blockType: nxDomain

  # Block Lists
  denylists:
    default:
      # Hagezi Light
      - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/light.txt"
      # Hagezi Thread Intelligence Feeds
      - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/tif.txt"
  clientGroupsBlock:
    default:
      - "default"

# Bind to port 53 for normal DNS
ports:
  dns: "53"

# At least "info" level to view logs when a site is blocked
log:
  level: "info"

# Log to a CSV file per day per client
queryLog:
  type: "csv-client"
  target: "/logs"

# Do not cache responses
#
# We rely on systemd-resolved to do local DNS caching
# we only want to use blocky as DNS blocking mechanism
caching:
  maxTime: "-1m"
