[Unit]
Description=System Container: %i
After=docker.service network-online.target

[Service]
ExecStart=/bin/sh -c 'podman stop %i; podman rm %i; /usr/local/bin/%i'
ExecStop=/bin/sh -c 'podman stop %i && podman rm %i'

[Install]
WantedBy=multi-user.target
