# Fixes the netbird socket permissions

# Netbird socket by default is world read-write, which
# means any random user can call netbird up and down.
#
# That's a no-no.
[Unit]
Description=Fix the Netbird UNIX socket permission
After=netbird@%i.service
Requires=netbird@%i.service

[Service]
# Wait for the socket to live and then modify it
ExecStart=/bin/sh -c 'while [ ! -S /var/run/netbird.sock ]; do sleep 1; done; chmod 600 /var/run/netbird.sock'

[Install]
WantedBy=multi-user.target
