[Unit]
Description=Poke Monitors with xrandr on resume
After=suspend.target

[Service]
Type=simple
User=%I
Group=%I
ExecStart=/bin/sh -c "poke-monitor"

[Install]
WantedBy=suspend.target

