[Unit]
Description=Poke Monitors with xrandr on resume
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=simple
User=%I
Group=%I
ExecStart=/usr/local/bin/poke-monitor auto

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
