# Check that Crowdsec is Alive

[Unit]
Description=Crowdsec Heartbeat Report to %i

[Timer]
# Every 30 seconds
OnCalendar=*-*-* *:*:00,30
AccuracySec=1s

[Install]
WantedBy=timers.target
