# Check that Crowdsec is Alive

[Unit]
Description=Crowdsec Heartbeat Report to %i

[Timer]
OnUnitInactiveSec=30s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
