# https://wiki.archlinux.org/title/Improving_performance#Changing_I/O_scheduler

# https://www.phoronix.com/review/linux-56-nvme
#
# While NVME has better raw performance using [none], we instead opt to use [bfq]
# because it has better latency and more desktop responsiveness. It also frees up audio/video
# playback streams at the exchange of less raw throughput, but thats overall "okay"

# Rotating HDD
ACTION=="add|change", KERNEL=="sd[a-z]*", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq"

# Sata SSD
ACTION=="add|change", KERNEL=="sd[a-z]*|mmcblk[0-9]*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="bfq"

# NVME SSD
ACTION=="add|change", KERNEL=="nvme[0-9]*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="bfq"
