[Unit]
Description=CameraCtrls daemon - restore control values

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/flatpak --user run --command='cameractrlsd.py' hu.irl.cameractrls
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
