#!/bin/sh
# Environment variables

# IBUS setup
# export GTK_IM_MODULE=ibus
# export XMODIFIERS=@im=ibus
# export QT_IM_MODULE=ibus

# SDL Options
# Use pulse audio for SDL audio
export SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS=0
export SDL_AUDIODRIVER=pulse

# Hardware Accel
#
# For Intel/Nvidia
# export VDPAU_DRIVER=va_gl
#
# For AMD
export LIBVA_DRIVER_NAME=radeonsi

# Use S3TC texture compression
export force_s3tc_enable=true

# Java
export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=lcd -Dswing.aatext=true"

# Help with Pulse audio crackling in some programs
export PULSE_LATENCY_MSEC=60

# QT5CT for GTK desktops
export QT_QPA_PLATFORMTHEME=qt5ct

# Other
# Disable the terminal bell noise
xset -b

# Clean source xrdb config
if [ -f "${HOME}"/.Xresources ]; then
  xrdb "${HOME}"/.Xresources
fi

if command -v xhost > /dev/null 2>&1; then
  xhost "+si:localuser:$(whoami)"
fi

# shellcheck disable=SC1090
# Source bash_profile if the environment is not setup
if [ -z "${PYAMSOFT_ENVIRONMENT}" ]; then
  [ -f "${HOME}"/.bash_profile ] && . "${HOME}"/.bash_profile
fi

# We need to do this before Xbindkeys so that everything launched with Xbindkeys
# can pick up that we are in a KDE environment.
#
# No idea if this is kosher but this is what worked to fix the rofi theme problem.
# Without these lines using rofi to launch systemsettings resulted in unthemed systemsettings
# export KDE_FULL_SESSION=true
# export XDG_CURRENT_DESKTOP=KDE

# Bind DE agnostic keybinds
xbindkeys

# Start flameshot daemon
# Starting flameshot ondemand with 'flameshot gui' somehow breaks out of the jail
# because it forks and starts a different process
flameshot &
