# https://0xerr0r.github.io/blocky/latest/configuration

# Upstream DNS over HTTPS
upstreams:
  groups:
    default:
      - "https://cloudflare-dns.com/dns-query#cloudflare-dns.com"

# Bootstrap DNS over HTTPS
bootstrapDns:
  # Bootstrap Cloudflare from 1.1.1.1
  - upstream: "https://cloudflare-dns.com/dns-query"
    ips:
      - "1.1.1.1"
      - "1.0.0.1"
      - "2606:4700:4700::1111"
      - "2606:4700:4700::1001"

# Group localhost queries
clientLookup:
  clients:
    localhost:
      - "127.0.0.1"
      - "::1"

# Blocking
blocking:
  # Return NXDomain
  blockType: nxDomain

  # Block Lists
  denylists:
    default:
      # Hagezi Normal
      - "https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/multi.txt"
      # Hagezi Thread Intelligence Feeds
      - "https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/tif.txt"
  clientGroupsBlock:
    default:
      - "default"

# Only respond to queries for FQDN
fqdnOnly:
  enable: true

# Bind to port 53 for normal DNS
ports:
  dns: "53"

# At least "info" level to view logs when a site is blocked
log:
  level: "info"
  timestamp: true

# Less noisy query logging
# Log to CSV file
queryLog:
  type: "csv"
  target: "/logs"
  fields:
    - "responseReason"
    - "responseAnswer"
    - "question"
    - "duration"

# Cache stuff
caching:
  minTime: 30m
  maxTime: 60m
  prefetching: true
  cacheTimeNegative: 30m
  maxItemsCount: 100000
