# Manage TailScale in a container

[Unit]
Description=Container: TailScale
After=network-online.target syslog.target local-fs.target remote-fs.target nss-lookup.target docker.service podman.service
Wants=network-online.target local-fs.target

[Service]
# File must exist or fail
ExecStartPre=/bin/test -x /usr/local/bin/tailscale

# Check the network is online before starting
# We host a local page, but the network needs to be up for us to bind bridge devices
ExecStartPre=/bin/sh -c '[ -x /usr/local/bin/im-online ] && /usr/local/bin/im-online'

# Teardown before starting, if this 'fails' because nothing else is running, we don't mind
ExecStartPre=-/usr/local/bin/container-teardown tailscale

ExecStart=/usr/local/bin/tailscale
ExecStop=/usr/local/bin/container-teardown tailscale
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target

