# Manage Crowdsec in a container

[Unit]
Description=Container: Crowdsec
After=network-online.target syslog.target remote-fs.target nss-lookup.target podman.service docker.service
Wants=network-online.target

[Service]
ExecStartPre=-/usr/local/bin/container-teardown crowdsec --delay
ExecStart=/usr/local/bin/crowdsec
ExecStop=/usr/local/bin/container-teardown crowdsec
Restart=on-failure
RestartSec=10

[Install]
WantedBy=network-online.target
