# Manage Crowdsec in a container

[Unit]
Description=Container: Crowdsec
After=network-online.target syslog.target remote-fs.target nss-lookup.target podman.service docker.service
Wants=network-online.target

[Service]
# File must exist or fail
ExecStartPre=/bin/test -x /usr/local/bin/crowdsec

# Check the network is online before starting (wait up to 30 seconds)
ExecStartPre=/bin/sh -c '[ -x /usr/local/bin/im-online ] && /usr/local/bin/im-online --dns'

# Teardown before starting, if this 'fails' because nothing else is running, we don't mind
ExecStartPre=-/usr/local/bin/container-teardown crowdsec

ExecStart=/usr/local/bin/crowdsec
ExecStop=/usr/local/bin/container-teardown crowdsec
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
