# Manage Crowdsec in a container

[Unit]
Description=Container: Crowdsec
After=network-online.target syslog.target remote-fs.target nss-lookup.target podman.service docker.service
Wants=network-online.target
RequiresMountsFor=%t/containers

[Service]
ExecStartPre=-/bin/sh -c '_c="crowdsec"; podman stop -t 5 "$${_c}"; podman rm -f "$${_c}"'
ExecStart=/bin/sh -c '_c="crowdsec"; /usr/local/bin/"$${_c}"'
ExecStop=/bin/sh -c '_c="crowdsec"; podman stop -t 5 "$${_c}"; podman rm -f "$${_c}"'
ExecReload=/bin/sh -c '_c="crowdsec"; podman exec -i -t "$${_c}" /bin/sh -c "kill -HUP 1"'
Restart=always
RestartSec=10

[Install]
WantedBy=network-online.target
