# Ping uptime kuma
[Unit]
Description=Uptime Kuma Crowdsec Ping

[Timer]
OnUnitInactiveSec=30s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
