# Use local DNS cache
nameserver 127.0.0.1
nameserver ::1

# Use public Cloudflare DNS resolver
#nameserver 1.1.1.1
#nameserver 1.0.0.1

# Rotate nameservers
options rotate

# Enable support for DNS Extensions
options edns0

# Enable the AD bit in outbound requests to allow verifying DNSSEC
options trust-ad
