-- https://lsyncd.github.io/lsyncd/manual/config/file/
settings({
	logfile = "/tmp/lsyncd.UID.log",
	statusFile = "/tmp/lsyncd.UID.status",
	pidfile = "/tmp/lsyncd.UID.pid",
	nodaemon = true,
})

sync({
	default.rsync,

	source = "/path/to/source/",
	target = "/path/to/target",

	rsync = {
		-- dry_run = true,
		archive = true,
		compress = false,
		verbose = true,
	},
})
