[Unit]
Description=Update domain-locker container
After=container@domain-locker.service

[Service]
# We are in a pyamsoft service
Environment=PYAM_SYSTEMD=1

# Need oneshot or timer won't restart
Type=oneshot

# Let the domain-locker service start up
ExecStartPre=-/usr/bin/sleep 10

# Domain Locker container comes with wget. Use it from the container
ExecStart=/usr/bin/podman exec domain-locker sh -c "wget --post-data '' -O - -q 'http://127.0.0.1:3000/api/domain-updater'"
ExecStart=/usr/bin/podman exec domain-locker sh -c "wget --post-data '' -O - -q 'http://127.0.0.1:3000/api/expiration-reminders'"
