# Use local DNS cache
nameserver 127.0.0.1

# Don't bind IPv6 by default since docker/podman networks do NOT have IPv6 setup by default.
# nameserver ::1

# Enable support for DNS Extensions
options edns0

# Enable the AD bit in outbound requests to allow verifying DNSSEC
options trust-ad
