[Unit]
Description=Adjust Ryzen CPU
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/adjust-ryzen
ExecStop=/usr/local/bin/adjust-ryzen

[Install]
WantedBy=sleep.target

