[Unit]
Description=Adjust Ryzen CPU (Suspend/Resume)
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/adjust-ryzen disable
ExecStop=/usr/local/bin/adjust-ryzen enable

[Install]
WantedBy=sleep.target

