[Unit]
Description=Adjust Ryzen CPU
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/local/bin/adjust-ryzen enable

[Install]
WantedBy=sleep.target

