[Unit]
Description=Undervolt Ryzen CPU with amdctl
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
ExecStart=/bin/sh -c "amdctl -m -p 0 -v %i && amdctl -m -g"
Type=oneshot

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
