[Unit]
Description=Docker Container: %I
After=docker.service NetworkManager.service

[Service]
ExecStart=/usr/local/bin/%I systemd
ExecStop=/bin/sh -c 'docker stop %I'

[Install]
WantedBy=multi-user.target
