[Unit]
Description=Restart NetworkManager after system suspend
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/bash -c 'sleep 5 && systemctl restart dnsmasq stubby NetworkManager'

[Install]
WantedBy=sleep.target
