[Unit]
Description=Rotate TTY %i
After=default.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo %i > /sys/class/graphics/fbcon/rotate_all'

[Install]
WantedBy=default.target
