[Unit]
Description=Create and destroy zram devices

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'zramswap create'
ExecStop=/bin/sh -c 'zramswap destroy'

[Install]
WantedBy=multi-user.target
