# Runs the adguardhome container when the target user logs in
#
# Should be enabled as `systemctl enable adguardhome@UID.service`
# where UID is the UID of the target user you want to run the container
#
# Generally this is 1000 for "your user"

[Unit]
Description=AdGuardHome container for %i
After=network-online.target docker.service tailscaled.service mullvad-vpn.service firewalld.service user@%i.service
Wants=network-online.target docker.service tailscaled.service mullvad-vpn.service firewalld.service
Requires=user@%i.service

[Service]
ExecStartPre=-/bin/sh -c '_c="adguardhome"; _u="$$(id -un "%i")"; sudo -u "$${_u}" podman stop -t 5 "$${_c}"; sudo -u "$${_u}" podman rm -f "$${_c}"'
ExecStart=/bin/sh -c '_c="adguardhome"; /usr/local/bin/"$${_c}" "%i"'
ExecStop=/bin/sh -c '_c="adguardhome"; _u="$$(id -un "%i")"; sudo -u "$${_u}" podman stop -t 5 "$${_c}"; sudo -u "$${_u}" podman rm -f "$${_c}"'

[Install]
WantedBy=user@%i.service
