SUBSYSTEM=="video4linux", KERNEL=="video[0-9]*", ATTR{index}=="0", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0e05", RUN+="/usr/bin/v4l2-ctl -d $devnode -v width=1920,height=1080,pixelformat=YUYV -c exposure_auto_priority=1 -c exposure_auto=3 -c backlight_compensation=1 -c white_balance_temperature_auto=1 -p 60"
