# Need H264 pixel format to get access to 1920x1080, 60FPS
# YUV pixel format produces good video color, but at low res
# MJPG produces green video
SUBSYSTEM=="video4linux", KERNEL=="video[0-9]*", ATTR{index}=="0", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0e05", RUN+="/usr/bin/v4l2-ctl -d $devnode -v width=1920,height=1080,pixelformat=H264 -c auto_exposure=3 -c backlight_compensation=1 -c white_balance_automatic=1 -p 60"
